 <div class="each-post">

  <%= render partial: 'posts/post-user', locals: { post: @post } %>
  <div class="post-body">
    <p><%= @post.body %></p>
    <div class="comment-section">
      <h3>Comments</h3>
      <%= render @post.comments %>
      <% if current_user %>
        <%= render 'comments/form', comment: Comment.new, post: @post %>
      <% end %>
    </div>
  </div>


  <div class="side-features">
    <div class="post-buttons">
      <% if user_can_edit?(@post) %>
        <div class="edit-post">
          <%= link_to "Edit Post", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
        <div>
      <% end %>
      <% if user_can_delete?(@post) %>
        <div class="edit-post">
          <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: "You are about to delete this post, proceed?"} %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>
        <%= pluralize(@post.points, 'point') %>
        <div>
          <small>
            <%= pluralize(@post.up_votes, 'up vote') %>,
            <%= pluralize(@post.down_votes, 'down vote') %>
          </small>
        </div>
      </h3>
      <% if current_user %>
        <%= render partial: 'favorites/favorite', locals: { post: @post } %>
      <% end %>
    </div>
  </div>

</div>
